body {
    max-width: 56.25rem;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    color: rgb(245, 245, 245); 
    line-height: 1.6;
}

.container {
    background-color: rgb(28, 28, 28); 
    max-width: 64rem;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 20px;
    margin: 3.125rem auto;
    padding: 1.875rem 3.125rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    background-color: transparent;
    border-bottom: 0.125rem solid rgb(245, 245, 245); 
    padding-bottom: 0.625rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 1.875rem;
}

img {
    width: 100%;
    max-width: 31.25rem;
    border-radius: 0.75rem;
    display: block;
    margin: 1.875rem auto;
    box-shadow: rgba(255, 255, 255, 0.1) 0 0.25rem 0.625rem;
}

a {
    text-decoration: none;
    background-color: rgb(255, 255, 255); 
    color: rgb(17, 17, 17);
    padding: 0.375rem 0.875rem;
    border-radius: 0.375rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

a:hover {
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
}

#navbar {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.125rem 1.5rem;
    font-size: 1.375rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0.25rem 0.625rem;
}

#navbar a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

#navbar ul li a {
    padding: 0.625rem 0.875rem;
    margin: 0 0.375rem;
    border-radius: 0.375rem;
    color: rgb(255, 255, 255); 
    background-color: transparent; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

#navbar ul li a:hover {
    background-color: rgb(255, 255, 255); 
    color: rgb(17, 17, 17); 
}

@media (max-width: 31.25rem) {
  #navbar ul li a span {
    display: none;
  }

  #navbar ul li a i {
    font-size: 1.5rem;
  }
}

footer {
    text-align: center;
    padding: 2rem 0;
    color: rgb(150, 150, 150);
}

footer a {
    background-color: transparent !important;
    padding: 0 !important;
    display: inline-block;
}

footer a:hover {
    background-color: transparent !important;
}

footer img {
    border: 0;
    width: 88px;
    height: 31px;
}